.tt_bread_div{
	padding-left:4px;
	padding-top:6px;
	padding-bottom:6px
}
.tt_bread{
	color:#616161;
}

nav .brand-logo{
	color:#FFF;
}

.tabs .tab a{
	color:#424242;
}

.tt_card_div{
	color:#ffa726;
}

.tt_request{
	color:#ffa726;
}

.tabs .tab .active {
	color:#ffa726;
}

.tabs .tab a:hover {
	color:#ffa726;
}

.tabs .indicator {
	background-color:#ffa726;
}

.collection a.collection-item {
	color:#424242;
}

.collection .collection-item.tt_color1 {
	color:#FFFFFF;
	background-color:#ffa726;
}

.carousels .carousel-item {
	width: 150px;
	height: 150px;
 }

.carousels {
	height: 150px;
}

.collection .collection-item.tt_contents_list {
	padding-top: 0px;
	padding-bottom: 0px;
}
